.settings {
  margin-left: 250px;
  padding: 30px 50px;

  h1 {
    margin-bottom: 15px;
  }

  p {
    font-size: 24px;
    font-weight: 600;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__button {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 45px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    margin-right: 15px;

    &:hover {
      background: #000000;
      color: white;
      transform: translateY(-7px);
      cursor: pointer;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}